/* holds chat div */
#chat-container{
    display: flex;
    flex-direction: column;
    height: 80vh;
}

/* div where messages will be shown */
#chat {
    background-color: white;
    height: 100%;
    padding: 10px;
    overflow: hidden;
    overflow-y: scroll;
}

/* contains input for users to enter messages and button to submit */
#form{
    display: flex;
    margin-top: 10px;
}

/* input where users enter their messages */
#input{
    height: 35px;
    width: 95%;
    margin-right: 5px;
}



